%h1 Current challenge info
%h3 
  Aim: 
  %em= @c.aim
%h3
  Description:
  %em= @c.description
%h3
  Duration:
  %em<
    = @c.duration
    days
%h3
  Longest chain:
  %em<
    = @c.longest_chain
    days (which was 
    = @c.time_since_longest
    days ago)
%h3
  Current chain:
  %em<
    = @c.current_chain
    days
%h3
  Done:
  %em
    = @c.done
  Missed:
  %em
    = @c.missed
%h3 
  Time since last tick:
  %em
  = @c.time_since_tick